header {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right:auto;
  width: 100%;
}

.logo {
  background-image: url("../assets/svg/logo.svg");
  width: 100px;
  height: 60px;
  z-index: 5;
}

.header-menu-icon {
  background-image: url("../assets/svg/coffee-cup.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 24px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #E1D4C9;
  z-index: 4;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-container-ul {
  display: flex;
  justify-content: left;
  gap: 40px;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.menu-item-link {
  text-decoration: none;
}

.header-menu-container,
.header-menu-container-inside {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 72px;
  gap: 8px;
  align-items: center;
  justify-content: left;
}

#menu__toggle,
#menu-btn {
  display: none;
}

@media (max-width: 1439px){
  .main-header {
    width: 100%;
    height: 60px;
    position: sticky;
    background-color: #E1D4C9;
    left: 0;
    top: 0;
    z-index: 4;
  }

  .logo {
    z-index: 5;
    position: relative;
  }

  .navigation, .header-menu-container {
    position: absolute;
    visibility: hidden;
    background-color: #E1D4C9;
    width: 100%;
    z-index: 4;
  }

.navigation{
  display: block;
  top: -350px;
  left: 0px;
  padding-top: 40px;
  transition: 0.3s;
}

.header-menu-container {
  top: -60px;
  left: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: 0.3s;
}

#menu__toggle {
  display: block;
  height: 0px;
  opacity: 0;
}

#menu-btn {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url("../assets/svg/menu-burger.svg");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 5;
  border: 1px solid black;
  border-radius: 100%;
  position:relative;
}

#menu__toggle:checked~#menu-btn {
  background-image: url("../assets/svg/menu-close.svg");
  background-position: center center;
}


#menu__toggle:checked~.navigation {
    visibility: visible;
    left: 0;
    top: 60px;
    transition: 0.5s;
  }
#menu__toggle:checked~.header-menu-container {
  visibility: visible;
  left: 0;
  top: 360px;
  transition: 0.5s;
}

.nav-container-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-bottom: 60px;
  align-items: center;
  list-style-type: none;
}

.header-menu-container-inside {
  margin-left: auto;
  margin-right: auto;
}


}