.hero {
  background-image: url("../assets/img/hero-bgr.jpeg");
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  border-radius: 40px;
  margin-bottom: 100px;
}

.hero-content {
  width: 530px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-main-link {
  display: flex;
  width: 200px;
  height: 64px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  text-decoration: none;
}

.hero-text-p {
  margin: 0;
}

/* Favorite coffee section */
.favorite-coffee {
  margin-bottom: 100px;
}

.favorite-coffee-header {
  margin-bottom: 40px;
  text-align: center;
}

.favorite-coffee-slider-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.coffee-slider-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.coffee-slider-back-btn, .coffee-slider-next-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.coffee-slider-content {
  width: 480px
}

.coffee-slider-img {

  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.coffee-slider-img-img{
  width: 480px;
  height: 480px;
}

.coffee-slider-title{
  text-align: center;
  margin-bottom: 16px;
}

.coffee-slider-description {
  text-align: center;
  margin-bottom: 16px;
}

.coffee-slider-price {
  text-align: center;
}

.arrow-left {
  background-image: url("../assets/svg/arrow-left.svg");
}

.arrow-right {
  background-image: url("../assets/svg/arrow-right.svg");
}

.coffee-slider-bar {
  height: 4px;
}

.coffee-slider-counter{
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding: 0;
}

.coffee-slider-item {
  height: 4px;
  width: 40px;
  background-color: #C1B6AD;
  border-radius: 100px;
}

.coffee-slider-active {
  background-color: #665F55;
}

/* section about */
.about {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.about-box {
 width: 660px;
}

.about-box-big {
 height: 590px;
}

.about-box-small {
  height: 430px;
}

.about-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
}

/* mobile app section */
.mobile-app {
  margin-bottom: 100px;
}

.mobile-app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-app-content {
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.mobile-app-content-text {
  margin: 0;
}

.mobile-app-content-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.store-button {
  width: 200px;
  height: 64px;
  display: flex;
  padding: 12px 20px 12px 20px;
  justify-content: flex-start;
  gap: 8px;

  border: 1px solid #665F55;
  border-radius: 100px;
}

.store-icon {
  width: 36px;
  height: 36px;
 }

 .mobile-app-picture {
  width: 630px;
  height: auto;
 }


 @media (max-width: 1439px) {
  .hero {
    background-position: center center;
  }

  .hero-content {
    margin-left: 60px;
  }

  .about-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px
  }

  .about-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .about-box {
    width: 100%;
    height: auto;
  }

  .about-box-small {
    display: none;
  }

  /* mobile app section */
  .mobile-app {
    margin-bottom: 100px;
  }

  .mobile-app-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: flex-start;
    align-items: center;
  }
  .mobile-app-content {
    width: 100%;
  }
  .mobile-app-picture {
    width: 100%;
    height: auto;
  }

        
 }

 @media (max-width: 767px) {
  .hero {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  .hero-content {
      width: 100%;
      margin-left: 0px;
      padding-left: 16px;
      padding-right: 16px;
    }
  .coffee-slider-back-btn,
  .coffee-slider-next-btn {
      display: none;
    }
  .coffee-slider-content {
    width: 100%;
  }
    .coffee-slider-img-img {
      width: 100%;
      height: auto;
    }
 }