.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.menu-container-title {
  max-width: 800px;
  text-align: center;
}

.menu-selection {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  flex-wrap: wrap;
}

.menu-selection-link {
  display: block;
  position: relative;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.menu-selection-link input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.coffee-selection-link {

}

.tea-selection-link {

}

.dessert-selection-link {

}

.menu-selection-link:has(input:checked) {
  background-color: #665F55;
}

.menu-selection-link input:checked ~ .menu-icon {
  background-color: #E1D4C9;
}

.menu-selection-link:hover {
  background-color: #bcb7b2;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #C1B6AD;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
      text-align: center;
        line-height: 175%;
}

.coffee-menu-icon {
  background-image: url("../assets/img/menu-icons/coffee-icon.png");
}

.tea-menu-icon {
  background-image: url("../assets/img/menu-icons/tea-icon.png");
}

.dessert-menu-icon {
  background-image: url("../assets/img/menu-icons/dessert-icon.png");
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  flex-wrap: wrap;
}

 @media (max-width: 1439px) {

.cards-container li:nth-child(n + 5){
  display: none;
}


 }