.product-modal {
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 background-color: rgba(0, 0, 0, 0.15);

 display:flex;
 justify-content: center;
 align-items: center;

}

.product-modal-container {
 width: 800px;
 height: auto;
 border-radius: 40px;

 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 20px;

 padding: 16px;


}

.product-modal-img {

}

.product-modal-info {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 10px;

}

.product-modal-title {

}

.product-modal-description {

}

.product-modal-add-info {

}

.product-modal-add-container {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 8px;
}

.product-modal-total {
  display: flex;
  justify-content: space-between;
}

.product-modal-disclaimer {

}

.product-modal-close-btn {
 
}