@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.text-accent {
  font-style: italic;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 105%;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

  p, 
  .contacts-address, 
  .contacts-telephone, 
  .contacts-work-hours {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.link-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.caption-text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

@media (max-width: 767px) {
  h1 {
      font-size: 42px;
      line-height: 115%;
    }

  h2 {
    font-size: 32px;
  }
    
}