* {
  box-sizing: border-box;
}

body {
  background-color: #E1D4C9;
  color: #403F3D;
}

h1, h2, h3 {
  margin: 0;
}

.all-content {
  width: 1360px;
  margin: 0 auto 0 auto;
}

.text-light {
  color: #E1D4C9;
}

.text-accent {
  color: #B0907A;
}

.text-dark {
  color: #403F3D;
}

.background-light {
  background-color: #E1D4C9;
}

.container {
  background-color: #665F55;
}

.backdrop {
  background-color: rgba(64, 63, 61, 0.80);
}

@media (max-width: 1439px) {
  .all-content {
      width: 100%;
      padding: 0 40px 0 40px;
    }
}